<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="student">
            <h2><span>Student</span> {{student.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Student Id</span></dt>
                <dd>
                    <span>{{student.studentId}}</span>
                </dd>
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{student.name}}</span>
                </dd>
                <dt><span>Date Of Birth</span></dt>
                <dd>
                    <span>{{student.dateOfBirth}}</span>
                </dd>
                <dt><span>Address</span></dt>
                <dd>
                    <span>{{student.address}}</span>
                </dd>
                <dt><span>Course Id</span></dt>
                <dd>
                    <span>{{student.courseId}}</span>
                </dd>
                <dt><span>Gender</span></dt>
                <dd>
                    <span>{{student.gender}}</span>
                </dd>
                <dt><span>Course Id</span></dt>
                <dd>
                    <div *ngIf="student.courseId">
                        <a [routerLink]="['/course', student.courseId?.id, 'view']">{{student.courseId?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/student', student.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
